* text=auto !eol
Assets/FreeImage.dll -text
Assets/data/attributes.atr -text
Assets/data/room.brs -text
Assets/data/v0/man_lgt.jpg -text
Assets/data/v0/v0.atr -text
Assets/data/v0/v0.cam -text
Assets/data/v0/v0.lgt -text
Assets/data/v1/v1.atr -text
Assets/data/v1/v1.cam -text
Assets/data/v1/v1.jpg -text
Assets/data/v1/v1.lgt -text
Assets/data/v2/v2.atr -text
Assets/data/v2/v2.cam -text
Assets/data/v2/v2.lgt -text
Assets/data/v3/v3.atr -text
Assets/data/v3/v3.cam -text
Assets/data/v3/v3.lgt -text
Assets/data/v4/v4.atr -text
Assets/data/v4/v4.cam -text
Assets/data/v4/v4.lgt -text
Assets/data/v5/v5.atr -text
Assets/data/v5/v5.cam -text
Assets/data/v5/v5.lgt -text
Assets/data/v6/v6.atr -text
Assets/data/v6/v6.cam -text
Assets/data/v6/v6.lgt -text
Assets/data/v7/img1.jpg -text
Assets/data/v7/v7.atr -text
Assets/data/v7/v7.cam -text
Assets/data/v7/v7.lgt -text
/BaseUtils.vcxproj -text
/BaseUtils.vcxproj.filters -text
Dependencies/Include/FreeImage.h -text
Dependencies/Static/FreeImage.lib -text
/RayTracer.sln -text
/RayTracer.vcxproj -text
/RayTracer.vcxproj.filters -text
Source/BaseUtils/Base.h -text
Source/BaseUtils/BaseCore.h -text
Source/BaseUtils/CApplicationLog.cpp -text
Source/BaseUtils/CApplicationLog.h -text
Source/BaseUtils/CBinaryTree.h -text
Source/BaseUtils/CFile.cpp -text
Source/BaseUtils/CFile.h -text
Source/BaseUtils/CGeneralTree.h -text
Source/BaseUtils/CSingleton.h -text
Source/BaseUtils/CTextFile.cpp -text
Source/BaseUtils/CTextFile.h -text
Source/BaseUtils/Params.cpp -text
Source/BaseUtils/Params.h -text
Source/RaytracerMain/Geometry/Point3d.cpp -text
Source/RaytracerMain/Geometry/Point3d.h -text
Source/RaytracerMain/Geometry/Triangle.cpp -text
Source/RaytracerMain/Geometry/Triangle.h -text
Source/RaytracerMain/Geometry/Vector3d.cpp -text
Source/RaytracerMain/Geometry/Vector3d.h -text
Source/RaytracerMain/Material.h -text
Source/RaytracerMain/Scene.cpp -text
Source/RaytracerMain/Scene.h -text
Source/RaytracerMain/main.cpp -text
