* text=auto !eol
Assets/FreeImage.dll -text
Assets/data/kuchnia/kuchnia.brs -text
Assets/data/kuchnia/kuchnia.shp -text
Assets/data/kuchnia/v1/v1.atr -text
Assets/data/kuchnia/v1/v1.cam -text
Assets/data/kuchnia/v1/v1.lgt -text
Assets/data/kuchnia/v2/kitchen3.jpg -text
Assets/data/kuchnia/v2/v2.atr -text
Assets/data/kuchnia/v2/v2.cam -text
Assets/data/kuchnia/v2/v2.lgt -text
Assets/data/kuchnia/v3/kitchen4.jpg -text
Assets/data/kuchnia/v3/kitchen4.res -text
Assets/data/kuchnia/v3/v3.atr -text
Assets/data/kuchnia/v3/v3.cam -text
Assets/data/kuchnia/v3/v3.lgt -text
Assets/data/night/night.brs -text
Assets/data/night/v1/v1.atr -text
Assets/data/night/v1/v1.cam -text
Assets/data/night/v1/v1.jpg -text
Assets/data/night/v1/v1.lgt -text
Assets/data/night/v2/v2.atr -text
Assets/data/night/v2/v2.cam -text
Assets/data/night/v2/v2.jpg -text
Assets/data/night/v2/v2.lgt -text
Assets/data/night/v3/v3.atr -text
Assets/data/night/v3/v3.cam -text
Assets/data/night/v3/v3.lgt -text
Assets/data/night/v4/v4.atr -text
Assets/data/night/v4/v4.cam -text
Assets/data/night/v4/v4.jpg -text
Assets/data/night/v4/v4.lgt -text
Assets/data/night/v7/v7.atr -text
Assets/data/night/v7/v7.cam -text
Assets/data/night/v7/v7.jpg -text
Assets/data/night/v7/v7.lgt -text
Assets/data/room/room.brs -text
Assets/data/room/v0/man_lgt.jpg -text
Assets/data/room/v0/v0.atr -text
Assets/data/room/v0/v0.cam -text
Assets/data/room/v0/v0.lgt -text
Assets/data/room/v1/v1.atr -text
Assets/data/room/v1/v1.cam -text
Assets/data/room/v1/v1.jpg -text
Assets/data/room/v1/v1.lgt -text
Assets/data/room/v2/v2.atr -text
Assets/data/room/v2/v2.cam -text
Assets/data/room/v2/v2.lgt -text
Assets/data/room/v3/v3.atr -text
Assets/data/room/v3/v3.cam -text
Assets/data/room/v3/v3.lgt -text
Assets/data/room/v4/v4.atr -text
Assets/data/room/v4/v4.cam -text
Assets/data/room/v4/v4.lgt -text
Assets/data/room/v5/v5.atr -text
Assets/data/room/v5/v5.cam -text
Assets/data/room/v5/v5.lgt -text
Assets/data/room/v6/v6.atr -text
Assets/data/room/v6/v6.cam -text
Assets/data/room/v6/v6.lgt -text
Assets/data/room/v7/img1.jpg -text
Assets/data/room/v7/v7.atr -text
Assets/data/room/v7/v7.cam -text
Assets/data/room/v7/v7.lgt -text
Assets/data_new/kuchnia/ZMGK.exe -text
Assets/data_new/kuchnia/kuchnia-v1.scn -text
Assets/data_new/kuchnia/kuchnia-v1.scn.png -text
Assets/data_new/kuchnia/kuchnia-v2.scn -text
Assets/data_new/kuchnia/kuchnia-v2.scn.png -text
Assets/data_new/kuchnia/kuchnia-v3.scn -text
Assets/data_new/kuchnia/kuchnia-v3.scn.png -text
Assets/data_new/kuchnia_brick/kuchnia_brick-v1.scn -text
Assets/data_new/kuchnia_brick/kuchnia_brick-v2.scn -text
Assets/data_new/kuchnia_brick/kuchnia_brick-v3.scn -text
Assets/data_new/night/night-v1.scn -text
Assets/data_new/night/night-v1.scn.png -text
Assets/data_new/night/night-v2.scn -text
Assets/data_new/night/night-v2.scn.png -text
Assets/data_new/night/night-v3.scn -text
Assets/data_new/night/night-v3.scn.png -text
Assets/data_new/night/night-v4.scn -text
Assets/data_new/night/night-v4.scn.png -text
Assets/data_new/night/night-v5.scn -text
Assets/data_new/night/night-v5.scn.png -text
Assets/data_new/night/night-v6.scn -text
Assets/data_new/night/night-v6.scn.png -text
Assets/data_new/night/night-v7.scn -text
Assets/data_new/room/room-v0.scn -text
Assets/data_new/room/room-v0.scn.png -text
Assets/data_new/room/room-v1.scn -text
Assets/data_new/room/room-v1.scn.png -text
Assets/data_new/room/room-v2.scn -text
Assets/data_new/room/room-v2.scn.png -text
Assets/data_new/room/room-v3.scn -text
Assets/data_new/room/room-v3.scn.png -text
Assets/data_new/room/room-v4.scn -text
Assets/data_new/room/room-v4.scn.png -text
Assets/data_new/room/room-v5.scn -text
Assets/data_new/room/room-v5.scn.png -text
Assets/data_new/room/room-v6.scn -text
Assets/data_new/room/room-v6.scn.png -text
Assets/data_new/room/room-v7.scn -text
Assets/data_new/room/room-v7.scn.png -text
Assets/data_new/temple/temple-v1.scn -text
Assets/data_new/temple/temple-v1.scn.png -text
Assets/data_new/temple/temple-v2.scn -text
Assets/data_new/temple/temple-v2.scn.png -text
Assets/data_new/temple/temple-v3.scn -text
Assets/data_new/temple/temple-v3.scn.png -text
Assets/data_new/temple/temple-v4.scn -text
Assets/data_new/temple/temple-v4.scn.png -text
Assets/data_new/ulica/ZMGK.exe -text
Assets/data_new/ulica/ulica-v1.scn -text
Assets/data_new/ulica/ulica-v1.scn.png -text
Assets/params.txt -text
/BaseUtils.vcxproj -text
/BaseUtils.vcxproj.filters -text
Dependencies/Include/FreeImage.h -text
Dependencies/Static/FreeImage.lib -text
/RayTracer.sln -text
/RayTracer.vcxproj -text
/RayTracer.vcxproj.filters -text
Source/BaseUtils/Base.h -text
Source/BaseUtils/BaseCore.h -text
Source/BaseUtils/CApplicationLog.cpp -text
Source/BaseUtils/CApplicationLog.h -text
Source/BaseUtils/CBinaryTree.h -text
Source/BaseUtils/CFile.cpp -text
Source/BaseUtils/CFile.h -text
Source/BaseUtils/CGeneralTree.h -text
Source/BaseUtils/CSingleton.h -text
Source/BaseUtils/CTextFile.cpp -text
Source/BaseUtils/CTextFile.h -text
Source/BaseUtils/Params.cpp -text
Source/BaseUtils/Params.h -text
Source/RaytracerMain/Camera.cpp -text
Source/RaytracerMain/Camera.h -text
Source/RaytracerMain/Geometry/Octree.cpp -text
Source/RaytracerMain/Geometry/Octree.h -text
Source/RaytracerMain/Geometry/Plane.cpp -text
Source/RaytracerMain/Geometry/Plane.h -text
Source/RaytracerMain/Geometry/Triangle.cpp -text
Source/RaytracerMain/Geometry/Triangle.h -text
Source/RaytracerMain/Geometry/Vector3d.cpp -text
Source/RaytracerMain/Geometry/Vector3d.h -text
Source/RaytracerMain/LightSource.cpp -text
Source/RaytracerMain/LightSource.h -text
Source/RaytracerMain/Material.h -text
Source/RaytracerMain/Scene.cpp -text
Source/RaytracerMain/Scene.h -text
Source/RaytracerMain/Texture.cpp -text
Source/RaytracerMain/Texture.h -text
Source/RaytracerMain/main.cpp -text
